* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*GENERALES*/

.image-container {
    display: flex;
}

.image-container img{
    width: 100%;
}

/*HEADER*/

header {
    background-color: rgb(233, 138, 138);
    padding: 10px 50px;
}
#logo {
    width: 50px;
}
#logo img {
    border-radius: 25%;
    border: 2px solid rgb(0, 0, 0);
}

/*HERO*/
#hero {
    position: relative;
}

#hero #img_fondo {
    display: inline-block;
    width: 100%;
}

#hero .information-container {
    position: absolute;
    top: 50%;
    left: 0px;
    display: flex;
    width: 100%;
    color: #fff;
    padding: 30px;
    transform: translateY(-50%);
}

#hero .information-container #foto {
    width: 150px;
}

#hero .information-container #foto img {
    border-radius: 30%;
}

#hero .information-container .information{
    margin-left: 20px;
    font-weight: bold;
}

#hero .information-container .information p {
    margin-bottom: 70%;
    display: inline-block;
}

/*MAIN*/
main{
    padding: 100px;
    background-color: rgb(233, 138, 138);
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
    background-color: rgb(154, 112, 112);
}

main .social-icons li {
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: right;
    padding: 5%;
    width: 5%;
    height: 5%;
}

main .social-icons .social-icon img{
    width: 40px;
}